$button-family: Arial, Helvetica, sans-serif;
$background-color: #282c34;

.App {
  text-align: center;
  user-select: none;
}

.App-header {
  box-sizing: border-box;
  background-color: $background-color;
  height: 100px;
  font-size: 60px;
  color: cyan;
  text-align: left;
  padding: 20px 50px;
}

.App-link {
  color: #61dafb;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .scoreboard-box {
    box-sizing: border-box;
    width: calc(20% - 80px);
    border: solid cyan 4px;
    padding: 80px;
    margin: 50px;
    text-align: center;
    opacity: 0;

    animation: fade-in 0.5s ease-in-out 0s 1 forwards;
  }

  .teamboard {
    min-width: 250px;
    min-height: 500px;

    .name {
      font-size: 40px;
      line-height: 1;
      margin-bottom: 0.5em;
    }
    .score {
      font-size: 200px;
      line-height: 0.75;
      text-shadow: 0.03em 0.03em red;
    }

    .buttons {
      white-space: nowrap;

      .button {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin: 10px;
        font-size: 20px;
        font-weight: bold;
        font-family: $button-family;
        padding: 0.5em;
        border-radius: 50%;
        background: white;
        color: $background-color;

        cursor: pointer;
      }
    }
  }

  .new-team {
    width: auto;
    padding: 20px;
    border-radius: 20px;
    font-size: 100px;
    font-family: $button-family;
    font-weight: bold;

    input {
      display: block;
      background: transparent;
      color: white;
      font-family: $button-family;
      font-size: 20px;
      border: solid 2px white;
      padding: 5px;

      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
