.board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;


  .factor-target {
    flex-basis: 35%;
    order: 1;
  }
  .scoreboard {
    flex-basis: 65%;
    order: 2;
  }
}
