.factor-target {
  padding: 25px;
  margin: $default-margin;
  border: solid 4px red;

  opacity: 0;
  animation: $fadein-animation;

  .number {
    font-size: 250px;
    color: white;
    text-shadow: 0.03em 0.03em red;

    cursor: pointer;
  }

  input {
    display: block;
    margin: 0 auto;
  }
}
