.scoreboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    .scoreboard-box {
      width: calc(20% - 80px);
      border: solid cyan 4px;
      padding: 50px 25px;
      margin: $default-margin;
      text-align: center;
      opacity: 0;
  
      animation: $fadein-animation;
    }
  
    .teamboard {
      min-width: 250px;
      min-height: 500px;
  
      .name {
        font-size: 40px;
        line-height: 1;
        margin-bottom: 0.5em;
        min-height: 2em;
      }
      .score {
        font-size: 200px;
        line-height: 0.75;
        color: cyan;
      }
  
      .buttons {
        white-space: nowrap;
  
        .button {
          display: inline-block;
          width: 20px;
          height: 20px;
          line-height: 20px;
          margin: 5px;
          font-size: 20px;
          font-weight: bold;
          font-family: $button-family;
          padding: 0;
          border-radius: 50%;
          background: white;
          color: $background-color;
  
          cursor: pointer;
        }
      }
    }
  
    .new-team {
      width: auto;
      padding: 20px;
      border-radius: 20px;
      font-size: 100px;
      font-family: $button-family;
      font-weight: bold;
    }
  }
